@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap');
@import url('../files/fonts/gilroy/stylesheet.css');

body {
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Gilroy', 'Roboto',  'Segoe UI','Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh !important;
  background: #F9F9FB !important;
}